* {margin: 0; padding: 0;}

body {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
width: 100%;
height: 100vh;
background: #131d27;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {color: #fff; text-align: center;}

.container {

}
.container .menu, .container .level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 1rem;
    font-size: 1.5rem;
}
.container .level button {
    flex: 1;
    background: #ffd466;
    border: 1px solid #c5961e;
    padding: 0.25rem;
    border-radius: 4px;
}
.container .level button:active {
    background: #c5961e;
}
.container .menu .timer {
    color: #ffd466;
}
.container .menu .reset {
    padding: 0.2rem 1rem;
    background: rgb(255, 44, 44);
    border: 1px solid rgb(173, 5, 5);
    border-radius: 3px;
    color: #fff;
}

.container .gameBoard {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: 2rem 0;
    gap: 1px;
}
.easy{ display: -ms-grid; display: grid; grid-template-columns: repeat(9, 1fr); grid-template-rows: repeat(9, 1fr);  margin: 2rem 0; gap: 2px;}

.container .gameBoard .tile{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    cursor: pointer;
    
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    width: 16px;
    height: 16px;
    background-color: #ffd466;
}
.container .gameBoard .tile.click {background: #ffb800;}
.container .gameBoard .tile .txt0{}
.container .gameBoard .tile .txt1{color: rgb(38, 184, 58);}
.container .gameBoard .tile .txt2{color: rgb(156, 111, 14);}
.container .gameBoard .tile .txt3{color: rgb(223, 16, 16);}
.container .gameBoard .txt_mine img{
    width: 100%;
    margin-bottom: -2px;
}
.container .gameBoard .flag {
    background-image: url('images/flag.svg');
    background-position: center;
}
